<nav class='c-pagination' aria-label='Pagination'>
  {% if paginator.previous_page %}
    <a class='c-pagination__link c-pagination__link--prev' href='{{ paginator.previous_page_path | prepend: site.baseurl }}'>&larr; Newer</a>
  {% else %}
    <span class='c-pagination__link c-pagination__link--disabled'>&larr; Newer</span>
  {% endif %}

  <span class='c-pagination__info'>
    Page {{ paginator.page }} of {{ paginator.total_pages }}
  </span>

  {% if paginator.next_page %}
    <a class='c-pagination__link c-pagination__link--next' href='{{ paginator.next_page_path | prepend: site.baseurl }}'>Older &rarr;</a>
  {% else %}
    <span class='c-pagination__link c-pagination__link--disabled'>Older &rarr;</span>
  {% endif %}
</nav>
