---
layout: default
---

{% include base_path %}

{% if page.image %}
  <meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
{% endif %}

<div class='c-content-header'>
  <span class='c-content-header__title'>{{ page.title }}</span>
  <span class='c-content-header__hint'>{{ page.date | date: '%B %d, %Y' }}</span>
</div>

<div class='c-post-page'>
  <article class='c-post-article' itemscope itemtype='http://schema.org/BlogPosting'>

    <header class='c-post__header'>
      <h1 class='c-post__title' itemprop='name headline'>{{ page.title }}</h1>
      <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>
        {{ page.date | date: '%B %d, %Y' | upcase }}
      </time>
    </header>

    <div class='c-post__content' itemprop='articleBody'>
      {% include page-image.html %}
      {{ content }}
    </div>

    {% if page.tags.size > 0 %}
    <div class='c-post__tags'>
      {% for tag in page.tags %}
        <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag }}</a>
      {% endfor %}
    </div>
    {% endif %}

  </article>
</div>
