<footer class='c-footer'>
  <div class='c-footer__inner'>
    <span class='c-footer__links'>
      <a href='https://mvp.microsoft.com/en-us/PublicProfile/4027206' target='_blank' rel='noopener'>Microsoft MVP</a> &nbsp;/&nbsp;
      <a href='https://sessionize.com/matteoemili/' target='_blank' rel='noopener'>Sessionize</a> &nbsp;/&nbsp;
      {% if site.twitter %}<a href='{{ site.twitter }}' target='_blank' rel='noopener'>Twitter</a> &nbsp;/&nbsp; {%
      endif %}
      {% if site.github %}<a href='{{ site.github }}' target='_blank' rel='noopener'>GitHub</a> &nbsp;/&nbsp; {% endif
      %}
      <a href='https://www.linkedin.com/in/matteoemili/' target='_blank' rel='noopener'>LinkedIn</a> &nbsp;/&nbsp;
      <a href='https://www.youtube.com/@mattvsts' target='_blank' rel='noopener'>YouTube</a> &nbsp;/&nbsp;
      <a href='{{ "/feed.xml" | prepend: site.baseurl }}'>RSS</a>
    </span>
    <span class='c-footer__copy'>&copy; {{ 'now' | date: '%Y' }} {{ site.author | default: site.title }}</span>
  </div>
</footer>