<header class='c-header'>
  <div class='c-header__inner'>
    <div class='c-header__top'>
      <a class='c-logo__link' href='{{ site.baseurl }}/'>{{ site.title }}</a>
      <label class='js-off-canvas-toggle c-off-canvas-toggle' aria-label='Toggle navigation'>
        <span class='c-off-canvas-toggle__icon'></span>
      </label>
    </div>

    <nav class='c-nav' aria-label='Primary navigation'>
      <div class='c-nav__desktop'>
        {% include navigation.html %}
      </div>

      <div class='c-off-canvas-content js-off-canvas-container c-off-canvas-container'>
        <label class='js-off-canvas-toggle c-off-canvas-toggle c-off-canvas-toggle--close' aria-label='Close navigation'>
          <span class='c-off-canvas-toggle__icon'></span>
        </label>
        {% include navigation.html %}
      </div>
    </nav>
  </div>
</header>
