{% for page in site.pages %}
  {% unless page.name == '404.md' %}
    {% if page.title %}
      <li class='c-nav__item' role='presentation'>
        <a class='c-nav__link' href='{{ page.url | prepend: site.baseurl }}'>{{ page.title }}</a>
      </li>
    {% endif %}
  {% endunless %}
{% endfor %}
<li class='c-nav__item' role='presentation'>
  <a class='c-nav__link' href='https://mvp.microsoft.com/en-us/PublicProfile/4027206'>Microsoft MVP</a>
</li>
<li class='c-nav__item' role='presentation'>
  <a class='c-nav__link' href='https://www.linkedin.com/in/matteoemili/'>LinkedIn</a>
</li>
