<div class='c-pagination'>
  {% if paginator.previous_page %}
    <a class='c-pagination__prev' href='{{ paginator.previous_page_path | prepend: site.baseurl }}'>&larr; Previous</a>
  {% endif %}

  {% if paginator.page and paginator.total_pages %}
    <span class='c-pagination__info'>{{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% endif %}

  {% if paginator.next_page %}
    <a class='c-pagination__next' href='{{ paginator.next_page_path | prepend: site.baseurl }}'>Next &rarr;</a>
  {% endif %}
</div>
